<div>
	<a href="[PREFIX]/resources/list">
		<div class="home-bloc ui-widget-content">
			<img alt="Resources" src="[PREFIX]/img/resources.png" />Accéder aux
			ressources pédagogiques
		</div>
	</a><a href="[PREFIX]/add/new">
		<div class="home-bloc  ui-widget-content">
			<img alt="Resources" src="[PREFIX]/img/add.png" />Ajouter une ressource
		</div>
	</a><a href="[PREFIX]/alerts">
		<div class="home-bloc  ui-widget-content">
			<img alt="Resources" src="[PREFIX]/img/alerts.png" />Consulter les alertes
		</div>
	</a><a href="[PREFIX]/services">
		<div class="home-bloc  ui-widget-content">
			<img alt="Resources" src="[PREFIX]/img/services.png" />Gérer les services
		</div>
	</a>
</div>

