<div id="search" class="detail-pane">

	<div class="ui-layout-west">[FACETS]</div>
	<div class="ui-layout-center">
		<form action="[PREFIX]/resources/detail/[MDID]/search" method="GET"
			id="search_test_request" class="ui-helper-clearfix">
			<input type="text" placeholder="{SEARCH-TEST-REQUEST}"
				data-suggest="[PREFIX]/query-suggest" name="query"
				value="[QUERY-VALUE]" /> <input type="submit"
				value="{SEARCH-TEST-SUBMIT}" />
		</form>
		<div class="search-results ui-widget-content">[RESULTS]</div>
	</div>

</div>
