<div id="tabs">
	<nav>
		<ul class="menu ui-state-highlight ui-corner-all">
			<li id="second_menu_item_back" class="menu-item"><a
				href="[PREFIX]/resources/list"> <img alt="{LISTE}"
					src="[PREFIX]/img/list.png" /> Liste
			</a></li>
			<li id="second_menu_item_display" class="menu-item"><a
				href="[PREFIX]/resources/detail/[MDID]/display">Affichage</a></li>

			<li id="second_menu_item_uris" class="menu-item"><a
				href="[PREFIX]/resources/detail/[MDID]/uris">Données</a></li>
			<li id="second_menu_item_refresh" class="menu-item"><a
				href="[PREFIX]/resources/detail/[MDID]/refresh">Mise à jour</a></li>
			<li id="second_menu_item_edit" class="menu-item"><a
				href="[PREFIX]/resources/detail/[MDID]/edit">&Eacute;dition</a></li>
			<li id="second_menu_item_search" class="menu-item"><a
				href="[PREFIX]/resources/detail/[MDID]/search">Recherche</a></li>
			<li id="second_menu_item_stats" class="menu-item"><a
				href="[PREFIX]/resources/detail/[MDID]/stats">Statistiques</a></li>

		</ul>
	</nav>
</div>
[PANEL][HIDDEN]
