<div id="refresh" class="detail-pane">
	<div class="pane ui-layout-west">
		<h2 class="ui-state-highlight">
			<img src="[PREFIX]/img/refresh.png" />Rafraîchir la ressource
		</h2>
		<h3 class="ui-state-highlight">Rafraîchissement du contenu</h3>
		[REFRESH-RESOURCE-INDEX][REFRESH-PREVIEW][REFRESH-ARCHIVE]
		<h3 class="ui-state-highlight">Rafraîchissement des métadonnées</h3>
		[REFRESH-META-INDEX][TECHNICAL-INFO-SYNC]
	</div>
	<div class="pane ui-layout-center">

		<div class="console-area"></div>
		
	</div>
</div>